.layout {
	width: 100%;
	height: 100%;
	float: left;
	.layout__welcome-message {
		width: 100%;
		height: 45%;
		background: white;
	}

	.layout__welcome-image {
		width: 100%;
		height: 60%;
		background-image: url("../img/welcome-back-1.jpg");
		background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-position: center 443px;
    	overflow: hidden;
	}
	.layout__sidebar {
		float: left;
		height: 100%;
		width: 160px;
		border-right: $border__clear;
		background: white;
	}
	.layout__content {
		float: left;
		width: calc( 100% - 160px);
		height: 100%;
		background: $grey-light;
	}

	.layout__progress {
		width: 100%;
		height: 50px;
		text-align: center;
		label {
			font-size: $font-small;
			display: inline-block;
			margin: 20px 25px 10px 35px;
			width: 2em;
			height: 2em;
			line-height: 2em;
			border-radius: 100%;
			border: 1px solid $positive;
			&.done {
				color: white;
				background: $positive;
			}
		}
	}

	.layout__title {
		width: 100%;
		height: 50px;
		text-align: center;
		h2 {
			display: inline-block;
			font-size: $font-big;
			font-weight: 300;
			margin-top: 15px;
		}
	}

	.layout__sub-title {
		width: 100%;
		height: 50px;
		text-align: center;
		p {
			font-weight: 300px;
			font-size: $font-small;
		}
	}

	.layout__center {
		height: 100%;
	}

	.layout__cards-container {
		margin-left: 10%;
		width: 90%;
		height: calc( 100% - 200px );
		overflow-y: auto;
	}
}