// Header

$border__clear: 1px solid #BBBDC0;
$font-roboto: 'Roboto', sans-serif;
$font-small: 12px;
$font-medium: 16px;
$font-big: 22px;
$font-main: 40px;
$text-small-padding: 8px 20px 8px 20px;
$text-big-padding: 12px 60px 12px 60px;

$grey-medium: #BBBDC0;
$grey-light: #FCFCFC;
$intense: #ED1B2D;
$positive: #9CCB3B;
$option: #3DA7DC;