.buttons {
  .buttons__clear {
    margin: 1em;
    display: inline-block;
    border: $border__clear;
    border-radius: 6px;
    height: auto;
    width: auto;;
    font-family: $font-roboto;
    font-weight: 300;
    font-size: $font-small;
    padding: $text-small-padding;
    margin-top: 10px;
    cursor: pointer;
    &:hover {
      color: white;
      background: $grey-medium;
    }
  }

  .buttons__main-call {
    margin-top: 4em;
    margin-bottom: 2em;
    margin-left: calc( 50% - 129px );
    display: inline-block;
    border-radius: 50px;
    height: auto;
    width: auto;;
    font-family: $font-roboto;
    font-weight: 500;
    font-size: $font-big;
    padding: $text-big-padding;
    color: white;
    background-color: $intense;
    cursor: pointer;
    &:hover {
      color: white;
      background: $positive;
    }
  }
}