.buttons {
  text-align: center;
  .buttons__clear {
    margin: 1em;
    display: inline-block;
    border: $border__clear;
    border-radius: 6px;
    height: auto;
    width: auto;;
    font-family: $font-roboto;
    font-weight: 300;
    font-size: $font-small;
    padding: $text-small-padding;
    margin-top: 10px;
    cursor: pointer;
    color: $grey-medium;
    &:hover {
      color: white;
      background: $grey-medium;
    }
  }

  .buttons__main-call {
    margin-top: 6em;
    margin-bottom: 2em;
    display: inline-block;
    border-radius: 50px;
    height: auto;
    width: auto;;
    font-family: $font-roboto;
    font-weight: 500;
    font-size: $font-big;
    padding: $text-big-padding;
    color: white;
    background-color: $intense;
    cursor: pointer;
    &:hover {
      color: white;
      background: $positive;
    }
  }
  .buttons__main-option {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;
    border-radius: 50px;
    height: auto;
    width: auto;
    font-family: $font-roboto;
    font-weight: 500;
    font-size: $font-medium;
    padding: $text-big-padding;
    color: white;
    background-color: $option;
    cursor: pointer;
    min-width: 130px;
    text-align: center;
    &:hover {
      color: white;
      background: $positive;
    }
    &:last-child {
      margin-bottom: 2em;
      border: $border__clear;
    }
    &:first-child {
      margin-top: 2em;
    }
  }

  .buttons__select-medium {
    margin-top: 1em;
    margin-bottom: 0.5em;
    display: inline-block;
    border-radius: 50px;
    height: auto;
    width: auto;
    font-family: $font-roboto;
    font-weight: 500;
    font-size: $font-medium;
    padding: $text-big-padding;
    color: white;
    background-color: $option;
    cursor: pointer;
    min-width: 40px;
    text-align: center;
    &:hover {
      color: white;
      background: $positive;
    }
  }

  .buttons__back {
    margin-top: 1em;
    margin-bottom: 0.5em;
    display: inline-block;
    border-radius: 50px;
    height: auto;
    width: auto;
    font-family: $font-roboto;
    font-weight: 500;
    font-size: $font-medium;
    padding: $text-big-padding;
    color: white;
    background-color: $intense;
    cursor: pointer;
    min-width: 40px;
    text-align: center;
    &:hover {
      color: white;
      background: $positive;
    }
  }

  .buttons__main-alternative {
      border: $border__clear;
      background-color: white;
      color: $grey-medium;
      &:hover {
        background-color: $grey-medium;
        color: white;
      }
  }
}