.text {
	.text__center-main {
		font-family: $font-roboto;
		font-weight: 300;
		font-size: $font-main;
		color: $grey-medium;
		text-align: center;
	}

	.text__subtitle-center {
		font-family: $font-roboto;
		font-weight: 300;
		font-size: $font-medium;
		color: $grey-medium;
		text-align: center;
		margin: 1em 15% 0 15%;
	}

	.text__center {
		text-align: center;
	}

	.text__center-main-logeo {
		text-align: center;
		margin-top: 10%;
		font-size: $font-main;
	}
}